@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #181818;
}

/* Header Start */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    padding: 24px 16px;
    background-color: #212121;
}

.left{
    display: flex;
    align-items: center;
}

.left #menu{
    margin: 8px;
    cursor: pointer;
}

.youtube-logo{
    margin: 18px 14px 18px 16px;
    cursor: pointer;
}
.search-box{
    display: flex;
    position: relative;
    max-width: 604px;
    width: 50%;
    height: 40px;
    border-radius: 2px;
}
  
.search-box input{
    display: flex;
    background-color: #181818;
    border: 1px solid rgb(48, 48, 48);
    padding: 2px 12px 2px 12px;
    width: 85%;
    height: 100%;
    font-size: 14px;
    line-height: 24px;
    outline: none;
    color: white;
}

.search-box button{
    height: 100%;
    width: 15%;
    padding: 1px 6px;
    border: 1px solid rgb(48, 48, 48);
    background-color: rgb(48, 48, 48);
}

.search-box .mic-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #181818;
    margin-left: 8px;
}

.material-icons {
    color: white;
    padding: 0 7px;
    cursor: pointer;
}

.right-box{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.right-mic{
    display: none;
}
.right-search-item{
    display: none;
}

/* Header End */

/* --------------------------------------------------- */

/* Main Start */

main {
    height: calc(100vh - 62px);
    display: flex;
    background-color: #181818;
}


    /* Side-bar Start */

.side-bar{
    position: fixed;
    height: 100%;
    width: 240px;
    background-color: #212121;
    overflow-y: hidden;
}

.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}
  
.nav-link{
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin-right: 24px;
    height: 40px;
}

.nav-link span{
    margin-left: 24px;
    color: white;
}

.nav-link:hover{
    background-color: #383837;
    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}

.nav-link.active {
    background-color: #383837;
}
  
hr{
    height: 1px;
    background-color: #383837 ;
    border: none;
    margin-top: 24px;
    margin-bottom: 24px;
}

    /* Side-bar End */


    /* --------------------------------------------------- */


    /* Filters Start */

.filters{
    position: fixed;
    left: 240px;
    top: 62px;
    width: calc(100% - 240px);
    height: 60px;
    background: #212121;
    border-top: 1px solid #383837;
    border-bottom: 1px solid #383837;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.filters::-webkit-scrollbar{
    display: none;
}

.filter-options{
    flex: 0 0 auto;
    padding: 0px 20px;
    height: 32px;
    border-radius: 16px;
    background: rgb(48, 48, 48);;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-transform: capitalize;
    margin: 12px 12px 12px 0;
    color: white;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.filter-options:hover{
    background-color: #383837;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}

.filter-options.active{
    color: #212121;
    background: white;
}


    /* Filters End */

    /* Video Start */

.video-container{
    display: flex;
    width: calc(100% - 240px);
    margin-top: 60px;
    margin-left: 240px;
    padding: 20px;
    background-color: #181818;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    
}

.video{
    min-height: 250px;
    height: auto;
    width: 286px;
    max-width: 340px;
    margin: 0px 8px 40px 8px;
}

.thumbnail{
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.content{
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: left;
    overflow: hidden;
}

.channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.info{
    width: calc(100%-50px);
    position: relative;
    justify-content: left;
}
.title-wrapper{
    overflow: hidden;
    height: fit-content;
    max-height: 40px;
    width: 100%;
    margin-bottom: 8px;
}
.title{
    color:white;
    font-size: 16px;
    line-height: 22px;
}

.channel-name{
    text-decoration: none;
    color: #aaaaaa;
    font-size: 14px;
    line-height: 20px;
}



@media (max-width: 768px) {
    .side-bar {
      display: none;
    }
    .search-box{
        display: none;
    }
    .right-search-item{
        display: block;
    }
    
    .right-mic{
        display: block;
    }
    .filters, .video-container{
        left: 0px;
        width: 100%;
    }
    .video-container{
        margin-left: 0px;
        width: 100%;
    }
}